/* Example of @import use
This imports the `reset.css` file */
@import "./reset.css";

/* For testing purposes, delete this code */
img {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
}
